
# BACKEND CONFIGMAP FOR INJECTING ENVIRONMENT VARIABLES

apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: notes-app
data:
  PORT: "5000"
  DB_HOST: "mysql"
  DB_NAME: "notes_db"
---

# BACKEND SECRET FOR DATABASE CREDS

apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: notes-app
type: Opaque
stringData:
  DB_USER: root
  DB_PASSWORD: root
---

# BACKEND DEPLOYMENT 

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: notes-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: surendraprajapati/notes_backend:v1   
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
---

# BACKEND SERVICE

apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: notes-app
spec:
  type: ClusterIP
  ports:
    - port: 5000
  selector:
    app: backend
---

# BACKEND HPA 

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: backend-hpa
  namespace: notes-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50