version: '3.8'

services:
  mysql:
    container_name: mysql
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: notes_db
    restart: always
    volumes:
      - notes-volume:/var/lib/mysql
    networks:
      - notes-network
    ports:
      - "3306:3306"

  backend:
    container_name: backend
    build:
      context: ./backend
    environment:
      DB_HOST: mysql
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_NAME: notes_db
    depends_on:
      - mysql
    ports:
      - "5000:5000"
    networks:
      - notes-network

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    environment:
      REACT_APP_API_URL: http://backend:5000
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - notes-network

networks:
  notes-network:

volumes:
  notes-volume:
