version: '3.8'

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: notes_db
    restart: always
    volumes:
      - notes-volume:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - notes-network

  backend:
    build:
      context: ./backend
    environment:
      DB_HOST: mysql
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_NAME: notes_db
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - notes-network
    expose:
      - "5000"

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    networks:
      - notes-network
    ports:
      - "3000:80"

networks:
  notes-network:

volumes:
  notes-volume:

