apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins
  namespace: notes-app

# kubectl auth can-i create secrets --as=system:serviceaccount:notes-app:jenkins -n notes-app
# kubectl auth can-i create storageclasses --as=system:serviceaccount:notes-app:jenkins
# kubectl auth can-i create persistentvolumes --as=system:serviceaccount:notes-app:jenkins


# generate token
# https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#:~:text=To%20create%20a%20non%2Dexpiring,with%20that%20generated%20token%20data.

# use case
# sh 'kubectl apply -f k8s/all-in-one.yaml --namespace notes-app --as=system:serviceaccount:notes-app:jenkins'